body{
	background: #667db6;
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.header {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 1.25;
  background-color: #5E161F;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
}
.header li {
  display: inline-block;
}
.header a {
  display: block;
  color: #4A4A4A;
  padding: 5px 15px;
}